.finalContainer {
    align-items: center;
    background-color: #F27E63;
    grid-template-rows: 70% 10% 14%;
    grid-template-columns: 100%;
    height: 100vh;
    width: 100%;
    display: grid;
}
.textFinalContainer {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
    width: 70%;
    justify-self: center;
    color: #FFFFFF;
    font-size: 20px;
    
}
.finalMessage{
    font-size: 23px;
    margin: 10px 0;
    text-align: justify;
}
label {
    font-weight: bold;
}
.comment {
    background: #F3EEEE;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    width: 70%;
    height: 110px;
}
.sendResultsBtn {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: end;
    justify-self: center;
    background: #000000;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    width: auto;
}
.tshLogo {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 10%;
    justify-self: end;
    align-self: start;
    margin-right: 30px;
}